Repository centrifuge/protocol, pull requests merged in 2025-07, with the labels that each got.

#491 Feat: Add share hook gas support
  script/TestData.s.sol
  snapshots/AsyncVault.json
  snapshots/SyncDepositVault.json
  snapshots/VaultRouter.json
  src/common/MessageDispatcher.sol
  src/common/MessageProcessor.sol
  src/common/interfaces/IGatewayHandlers.sol
  src/common/interfaces/IGatewaySenders.sol
  src/common/libraries/MessageLib.sol
  src/hub/Hub.sol
  src/hub/HubHelpers.sol
  src/hub/interfaces/IHub.sol
  src/spoke/Spoke.sol
  src/spoke/interfaces/ISpoke.sol
  test/common/unit/libraries/MessageLib.t.sol
  test/hub/integration/BaseTest.sol
  test/hub/integration/Cases.t.sol
  test/hub/unit/Hub.t.sol
  test/integration/EndToEnd.t.sol
  test/integration/ThreeChainEndToEnd.t.sol
  test/spoke/integration/Spoke.t.sol
Labels: :technologist: new feat

#501 Deploy: Wire adapters using Guardian
  script/WireAdapters.s.sol
Labels: :rocket: deploy

#504 IT: Test the entire refund cycle
  snapshots/AsyncVault.json
  snapshots/SyncDepositVault.json
  snapshots/VaultRouter.json
  src/common/PoolEscrow.sol
  src/common/interfaces/IPoolEscrow.sol
  test/integration/EndToEnd.t.sol
  test/integration/adapters/LocalAdapter.sol
Labels: :white_check_mark: test

#496 Mainnet deployments - Part II
  .github/workflows/deploy-test.yml
  .gitignore
  env/anvil.json
  env/arbitrum-sepolia.json
  env/arbitrum.json
  env/base-sepolia.json
  env/base.json
  env/ethereum.json
  env/example.json
  env/sepolia.json
  script/Adapters.s.sol
  script/FullDeployer.s.sol
  script/TestData.s.sol
  script/deploy/.gitignore
  script/deploy/deploy-anvil.sh
  script/deploy/deploy.py
  script/deploy/deploy.sh
  script/deploy/formathelper.sh
  script/deploy/lib/__init__.py
  script/deploy/lib/anvil.py
  script/deploy/lib/formatter.py
  script/deploy/lib/ledger.py
  script/deploy/lib/load_config.py
  script/deploy/lib/runner.py
  script/deploy/lib/verifier.py
  script/deploy/load_vars.sh
  script/deploy/setup.sh
  script/deploy/verify.sh
  src/common/GasService.sol
  test/common/unit/GasService.t.sol
Labels: :technologist: new feat, :rocket: deploy

#510 Deploy: adapters as part of the deployer pipeline
  docs/architecture/deployers.puml
  script/Adapters.s.sol
  script/AdaptersDeployer.s.sol
  script/FullDeployer.s.sol
  script/deploy/deploy.py
  script/deploy/lib/anvil.py
  script/deploy/lib/verifier.py
  test/adapters/Deployment.t.sol
  test/integration/EndToEnd.t.sol
Labels: :rocket: deploy

#515 Deploy: fix deploy config when no adapter is in the json
  script/FullDeployer.s.sol
Labels: :rocket: deploy

#516 Fix: balance sheet neutral delta always false
  src/spoke/BalanceSheet.sol
  test/spoke/unit/BalanceSheet.t.sol
Labels: v3

#520 ref: revert unreachable
  src/common/GasService.sol
  src/common/interfaces/IGasService.sol
Labels: v3

#519 Fix: protect ActionBatcher
  script/AdaptersDeployer.s.sol
  script/CommonDeployer.s.sol
  script/FullDeployer.s.sol
  script/HooksDeployer.s.sol
  script/HubDeployer.s.sol
  script/SpokeDeployer.s.sol
  script/VaultsDeployer.s.sol
  snapshots/AsyncVault.json
  snapshots/VaultRouter.json
  test/integration/EndToEnd.t.sol
  test/spoke/BaseTest.sol
Labels: :rocket: deploy

#522 Clean: remove legacy vault files
  src/vaults/legacy/LegacyVaultAdapter.sol
  src/vaults/legacy/interfaces/IInvestmentManager.sol
  src/vaults/legacy/interfaces/ILegacyVault.sol
  src/vaults/legacy/interfaces/ILegacyVaultAdapter.sol
Labels: :building_construction: refactor

#529 Add a docs banner
  README.md
Labels: :book: documentation

#503 Rename: batchGasLimit name
  env/example.json
  script/CommonDeployer.s.sol
  script/FullDeployer.s.sol
  src/common/GasService.sol
  src/common/Gateway.sol
  src/common/interfaces/IGasService.sol
  src/common/interfaces/IGateway.sol
  test/common/Deployment.t.sol
  test/common/unit/GasService.t.sol
  test/common/unit/Gateway.t.sol
  test/hub/integration/BaseTest.sol
  test/integration/EndToEnd.t.sol
  test/integration/Integration.t.sol
  test/spoke/BaseTest.sol
Labels: v3.1

#538 Test: full coverage for spoke
  snapshots/AsyncVault.json
  snapshots/SyncDepositVault.json
  snapshots/VaultRouter.json
  src/common/MessageDispatcher.sol
  src/common/MessageProcessor.sol
  src/common/interfaces/IGatewayHandlers.sol
  src/common/interfaces/IRequestManager.sol
  src/spoke/Spoke.sol
  src/spoke/interfaces/ISpoke.sol
  src/vaults/AsyncRequestManager.sol
  src/vaults/interfaces/IBaseRequestManager.sol
  test/spoke/BaseTest.sol
  test/spoke/integration/Spoke.t.sol
  test/spoke/unit/Spoke.t.sol
Labels: :white_check_mark: test

#548 Ref: simplify spoke storage for asset prices
  snapshots/AsyncVault.json
  snapshots/SyncDepositVault.json
  snapshots/VaultRouter.json
  src/spoke/Spoke.sol
  src/spoke/interfaces/ISpoke.sol
  test/spoke/unit/Spoke.t.sol
Labels: :building_construction: refactor, :white_check_mark: test, v3.1, 🚨 breaking change

#551 Port Release v3.0.1
  env/arbitrum.json
  env/avalanche.json
  env/base.json
  env/bnb-smart-chain.json
  env/ethereum.json
  env/plume.json
  env/spell/001_arbitrum_0x4bC5888c224Ae5555D5E188a1E7012c325B50825.sol
  env/spell/001_base_0xdC23E00A01D7B4ab950caf22D04146E0F59FbdAe.sol
  env/spell/001_ethereum_0xC418002C3d7E6B9ae1f79D8740080c808C300C81.sol
  env/spell/002_ethereum_0x5a110bc4fdd01b193fdadddd38231dd098274a06.sol
  env/spell/003_arbitrum_0x737884c8c9332d4c3730c6a6e76338e4e9e25539.sol
  env/spell/003_avalanche_0x21DbC1add7a52e47652e4a74dEc4f28a77086bbd.sol
  env/spell/003_base_0x21dbc1add7a52e47652e4a74dec4f28a77086bbd.sol
  env/spell/003_bnb-smart-chain_0x086046cc2193f0184e03c8b1419a06f1f989e75a.sol
  env/spell/003_ethereum_0x21dbc1add7a52e47652e4a74dec4f28a77086bbd.sol
  env/spell/003_plume_0x12AB1AdB7C3Cfd75fDb4e1dFE32e4Ef2354B6c08.sol
  script/CommonDeployer.s.sol
  script/VaultsDeployer.s.sol
  script/utils/fix_imports.py
  src/vaults/AsyncRequestManager.sol
  src/vaults/factories/AsyncVaultFactory.sol
  src/vaults/factories/SyncDepositVaultFactory.sol
  src/vaults/interfaces/IVaultManagers.sol
  test/integration/ForkTestInvestments.sol
  test/integration/ForkTestInvestmentsV2.sol
  test/integration/MaliciousVaultAttack.t.sol
  test/script/SaltGeneration.t.sol
  test/spoke/integration/Spoke.t.sol
  test/vaults/Deployment.t.sol
  test/vaults/integration/AsyncRequestManager.t.sol
  test/vaults/integration/Redeem.t.sol
Labels: v3

#552 tests: fork tests reuse e2e infra
  snapshots/AsyncVault.json
  snapshots/SyncDepositVault.json
  snapshots/VaultRouter.json
  test/integration/EndToEnd.t.sol
  test/integration/ForkTestInvestments.sol
  test/integration/Integration.t.sol
  test/integration/IntegrationConstants.sol
  test/integration/ThreeChainEndToEnd.t.sol
Labels: :white_check_mark: test
